/* Mobile-first Layout  */


/* Color schemes sourced from https://visme.co/blog/website-color-schemes/ */
:root{
    --black-and-blue: #17252A;
    --dark-cyan: #2B7A78;
    --modr-cyan: #3AAFA9;
    --lght-cyan: #def2f1;
    --pale-cyan: #FEFFFF;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    
    line-height: 1.5;
    
    /* Mobile-first Layout  */
    background-color: var(--pale-cyan);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1,
h2 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.1;
}
  
h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}
  
h2 {
    font-size: 3.5rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--black-and-blue);
}

header h1 {
    padding: 1.5rem;
    color: var(--pale-cyan);
}

.header-button {
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--dark-cyan);
    color: var(--pale-cyan);
    border-bottom: 1px solid var(--black-and-blue);
    border-radius: 0px;
    margin: 0px;
}

.header-button:hover {
    background-color: var(--lght-cyan);
    color: var(--black-and-blue);
}

.timer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;   
    font-weight: 700;
    background-color: var(--lght-cyan);
    color: var(--black-and-blue);
    border-bottom: 1px solid var(--black-and-blue);
}

main {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* Mobile-first layout  */
    margin: 3rem;
}

main h2 {
    width: 100%;
    color: var(--black-and-blue);
    text-align: start;
    font-size: 2rem;
    margin-bottom: 2rem;    
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--black-and-blue);
    font-size: 1.75rem;
}

button {
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    color: var(--pale-cyan);
    background-color: var(--dark-cyan);
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: var(--black-and-blue);
    color: var(--pale-cyan);
}

#icon {
    margin-top: .5rem;
    font-size: 75px;
    color: var(--black-and-blue);
}



/* Responsive Design for Large Screens  */
@media screen and (min-width: 992px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    header h1{
        margin-left: 2rem;
    }
    .header-button {
        border-radius: 25px;
        width: 200px;
        margin-right: 3rem;
        font-size: 2.25rem;

    }
    .timer {
        align-items: flex-end;
        padding-right: 3.5rem;
        font-size: 2.25rem;
    }
    main {
        display: flex;
        margin: 8rem;
        width: 66%;
        align-items: center;
        justify-content: center;
    }
    main h2 {
        font-size: 3rem;
    }
    button {
        font-size: 2.25rem;
        padding: 2rem;
    }
    #icon {
        margin-top: 1rem;
        font-size: 100px;
    }
}